# Ignore __pycache__ , .ipynb_checkpoints and *.csv in all subdirectories of STW
STW/**/*.csv
STW/**/__pycache__/
STW/**/.ipynb_checkpoints/
ckpt/
train_data/
model/.ipynb_checkpoints/
.ipynb_checkpoints/